<hgroup>
	<style>
		#linksPerso {
			float	: right;
			height	: 128px;
		}
		#linksPerso .wrapper {
			height	: 128px;
			overflow-y:hidden;

		}
		#linksPerso img {
			width	: 128px;
		}
	</style>
	<div id='linksPerso' style='display: block;'>
		<a href='mailto:jerome.etienne@gmail.com?Subject=query%20from%20learningthreejs' target='_blank'>
			<img src='/data/images/jetienne-hire-me-256x256.png'/>
		</a>
	</div>

  <h1><a href="{{ root_url }}/">{{ site.title }}</a></h1>
  {% if site.subtitle %}
    <h2>{{ site.subtitle }}</h2>
  {% endif %}
</hgroup>
